---
import LoginLayout from "../layouts/LoginLayout.astro";
import MemberList from "./MemberList.svelte";
---

<LoginLayout q-name="member">
  <div>
    <h2>Enter your name and click on it when it appares</h2>
    <MemberList client:only />
  </div>
</LoginLayout>

<style>
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
</style>
