---
import Button from "../components/Button.astro";

type Props = {
  "q-name": string;
};

const { "q-name": qName } = Astro.props;
---

<div q-name={qName} class="wrapper">
  <Button q-name="main" color="red" class="back-button">Go back</Button>

  <div class="content">
    <slot />
  </div>
</div>

<style lang="scss">
  .back-button {
    padding: 1rem;
    width: fit-content;
  }

  .wrapper {
    padding-top: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    transform: scale(0);
    transition: 0.1s all ease-in;

    &.shown {
      transition-delay: 0.1s;
      display: flex;
      transform: scale(1);
    }
  }

  .content {
    background-color: var(--bg-color-dark);
    padding: 1rem;
    width: 75vw;
    border: rgb(0 0 0 / 25%) 2px solid;
  }
</style>
